<%- contentFor("title") %>
  Create Customer

  <%- contentFor("body") %>
    <form method="POST">
      <div>
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" />
      </div>
      <div>
        <label>Last Name</label>
        <input type="text" class="form-control" name="last_name" />
      </div>
      <div>
        <label>Email</label>
        <input type="text" class="form-control" name="email" />
      </div>
      <div>
        <label>Company</label>
        <select name="company_id" class="form-control">
          <% for (let c of companies) { %>
            <option value="<%= c.company_id %>">
              <%= c.name %>
            </option>
            <% } %>
        </select>
      </div>

      <!-- Select employee as sales rep -->
      <div>
        <label>Employee</label>
        <select name="employee_id" class="form-control">
          <% for  (let e of employees) { %>
            <option value="<%= e.employee_id %>">
               <%= e.first_name %> <%= e.last_name %>
            </option>"
             
          <% } %>
        </select>
      </div>

      <div>
        <label>Products</label>
        <select name="products[]" class="form-control" multiple>
          <% for (let p of products) { %>
            <option value="<%= p.product_id %>"><%= p.name %></option>
          <% } %>
        </select>
      </div>


      <button class="btn btn-primary mt-3">Submit</button>
    </form>