<%- contentFor('title') %>
    Editing Customer

    <%- contentFor('body') %>

        <h1>Editing <%= customer.first_name %>
                <%= customer.last_name %>
        </h1>

        <form method="POST">
            <div>
                <label>First Name</label>
                <input type="text" class="form-control" name="first_name" value="<%= customer.first_name %>" />
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" class="form-control" name="last_name" value="<%= customer.last_name %>" />
            </div>
            <div>
                <label>Email</label>
                <input type="text" class="form-control" name="email" value="<%= customer.email %>" />
            </div>
            <div>
                <label>Company</label>
                <select name="company_id" class="form-control" value="<%= customer.company_id %>">
                    <% for (let c of companies) { %>
                        <option value="<%= c.company_id %>" <%=customer.company_id==c.company_id ? "selected" : "" %>
                            >
                            <%= c.name %>
                        </option>
                        <% } %>
                </select>
            </div>

            <!-- Select employee as sales rep -->
            <div>
                <label>Employee</label>
                <select name="employee_id" class="form-control">
                    <% for (let e of employees) { %>
                        <option value="<%= e.employee_id %>" <%=customer.employee_id===e.employee_id ? "selected" : ""
                            %>

                            >
                            <%= e.first_name %>
                                <%= e.last_name %>
                        </option>"

                        <% } %>
                </select>
            </div>

            <div>
                <label>Products</label>
                <select name="products[]" class="form-control" multiple>
                    <% for (let p of products) { %>
                        <option value="<%= p.product_id %>"
                            <%= selectedProducts.includes(p.product_id) ? "selected" : "" %>
                            
                            >
                            <%= p.name %>
                        </option>
                        <% } %>
                </select>
            </div>




            <button class="btn btn-primary mt-3">Submit</button>
        </form>